<h2>Por Región</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- SearchBox -->
    <!-- <shared-search-box
      placeholder="Buscar por region"
      (onDebounce)="searchRegion($event)"
      ></shared-search-box> -->
      <button *ngFor="let region of regions"
        class="btn mx-2"
        [ngClass]="{'btn-outline-primary': selectedRegion === region}"
        (click)="searchRegion(region)"
      >
        {{ region }}
      </button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
